<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans    
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd    
                        http://www.springframework.org/schema/context    
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd    
                        http://www.springframework.org/schema/mvc    
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">  
    
    <!-- 自动扫面特定包下面的所有类，会让类上面的标记生效 -->
   	<context:component-scan base-package="com.control"></context:component-scan>
   		<!-- 注解驱动器-->
    <mvc:annotation-driven/>
   	<!-- 配置内部的视图资源解析器，用于将视图的逻辑名解析到特定的对象
   		该解析器会把返回的模型属性放在request中
   		默认情况下优先级最低
   	 -->
   	 
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"	>	
    		<property name="prefix" value="/dataxjsp/job/reader/"></property>
    	
       		<property name="suffix" value=".jsp"></property>
    </bean> 

    	
    

	


    


        
  
</beans>